layout {
    gaps 10 // Gap between windows
    center-focused-column "never"
    always-center-single-column

    background-color "transparent" // <- needed for noctalia-shell to set wallpaper

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    focus-ring {
        width 1
        active-color "#3487a8"
    }

    struts {}
}

overview {
  workspace-shadow {
    //off
  }
}
