window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    draw-border-with-background false
    background-effect {
        blur true
    }
}

/-workspace "main" {
    open-on-output "DP-2"
}

window-rule {
    match is-floating=true
    background-effect {
        xray false
    }
}

window-rule {
    match title="Calculator"

    default-column-width { proportion 0.1; }
    default-window-height { proportion 0.5; }
}

window-rule {
    match app-id="Nautilis"
    match app-id="Discord"
    match app-id="obsidian"
    match app-id="nomacs"
    match app-id="zed"
    match app-id="code"

    default-column-width { proportion 0.6; }
}

window-rule {
    match app-id="firefox"
    match app-id="floorp"
    match title="Godot"
    match app-id="Unity"

    default-column-width { proportion 0.8; }
}

window-rule {
    match app-id="steam_app_438100" //vrchat
    open-on-output "DP-3"
    open-focused false
}

window-rule {
    match app-id="wivrn"
    default-window-height { proportion 0.4; }
}

window-rule {
    match app-id="mpv"
    match app-id="org.kde.ark"
    open-floating true
}

// Layers
layer-rule {
    match namespace="^noctalia-overview*"
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}

layer-rule {
    match namespace="^noctalia"
    background-effect {
        xray false
    }
}
