window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match title="Discover"
    match app-id="Nautilis"
    match app-id="Discord"

    default-column-width { proportion 0.6; }
}

window-rule {
    match title="Firefox"
    match app-id="floorp"
    default-column-width { proportion 0.8; }
}

layer-rule {
    match namespace="^noctalia-overview*"
    place-within-backdrop true
}
