[user]
    name = Miguel
    email = mige.d@outlook.com

[core]
    editor = nvim

[color]
    diff = auto
    status = auto
    branch = auto
    ui = true

[alias]
    s  = status
    c  = commit
    ca = commit -a
    b  = branch
    co = checkout
    d  = diff
    l  = log --graph --decorate
    lo = log --oneline
    p  = push
    po = push origin
    pu = pull

[push]
    default = current
